{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content%}
  <div class="container">

    <p> user: {{ user._username }} </p>

        {% for item in user.cart.rentals %}
            <div class="row">
              <div class="col-sm-4">
                <img src="{{item._itemImageUrl}}" style="width:104px;height:150px;"/>
              </div>
              <div class="col-sm-5">
                <h4> {{ item._itemName }} </h4>
              </div>
              <div class="col-sm-1">
                <h4> {{ item._itemCost }} </h4>
              </div>
              <div class="col-sm-2">
                <form method='POST'>
                  <button class="btn btn-danger" type="submit"  name="remove" value={{item._id}}>Remove</button>
                </form>
              </div>
            </div>
            <br/>
        {% endfor %}

    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h2>Total Cost: {{user.cart.get_total_cost()}}</h2>
      </div>
      <div class-"col-sm-6">
        <form method='POST'>
          <button class="btn btn-success" type="submit"  name="order" value=1>Place Order</button>
        </form>

      </div>
    </div>


    <div class="row">
      <div class="col col-sm-2">
      <a class="btn btn-primary" href="{{ url_for('dashboard') }}"> Go Back </a>
      </div>
      <div class="col col-sm-2">
      <a class="btn btn-primary" href="{{ url_for('logout') }}"> Log Out </a>
      </div>
    </div>
    <br/>
  </div>
{% endblock %}
