{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content%}
  <div class="container">

    <p> {{ user._username }} </p>

      <div class="row">
        <div class="col col-sm-2">
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseSnowboard" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-parent="#rental-headers-parent">All</a>
        </div>
        <div class="col col-sm-2">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSki" aria-expanded="false" aria-controls="multiCollapseExample2" data-parent="#rental-headers-parent">Skis</button>
        </div>
        <div class="col col-sm-2">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBoots" aria-expanded="false" aria-controls="multiCollapseExample2">Snowboards</button>
        </div>
        <div class="col col-sm-2">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="multiCollapseExample2">Boots</button>
        </div>
        <div class="col col-sm-2">
          <a class="btn btn-primary" href="{{ url_for('pastOrders') }}"> Orders </a>
        </div>
        <div class="col col-sm-2">
          <p> Total Cost: {{ user.cart.get_total_cost() }} </p>
        </div>
      </div>

      <div class="row" id="rental-headers-parent">

          <div class="collapse in multi-collapse" id="collapseSnowboard">
            <div class="card card-body">
              <h2>All Rentals</h2>


              <ul class="list-group">
              {% for item in rental %}
              <li class='list-group-item'>
                <div class="row">
                  <h3> {{ item._itemName }}</h3>
                  <div class="col col-lg-4">

                      <img src="{{item._itemImageUrl}}" style="width:104px;height:150px;"/>
                  </div>
                  <div class="col col-lg-3">
                    <h4>{{ item._itemName}} </h4>
                  </div>
                  <div class="col col-lg-1">
                    <h4>{{ item._itemCost }}</h4>
                  </div>
                  <div class="col col-lg-2">
                    <form method='POST'>
                      <button class="btn btn-lg btn-primary btn-block" type="submit"  name="selected" value={{item._id}}>Add Item</button>
                    </form>
                  </div>

                </div>
              </li>

              {% endfor %}
              </ul>





            </div>
          </div>




          <div class="collapse multi-collapse" id="collapseSki">
            <div class="card card-body">
              <h2>Ski Rentals</h2>

              <ul class="list-group">
              {% for ski in skis %}
              <li class='list-group-item'>
                <div class="row">
                  <h3> {{ ski._itemName }}</h3>
                  <div class="col col-lg-4">

                      <img src="{{ski._itemImageUrl}}" style="width:104px;height:150px;"/>
                  </div>
                  <div class="col col-lg-3">
                    <h4>{{ ski._itemName}} </h4>
                  </div>
                  <div class="col col-lg-1">
                    <h4>{{ ski._itemCost }}</h4>
                  </div>
                  <div class="col col-lg-2">
                    <form method='POST'>
                      <button class="btn btn-lg btn-primary btn-block" type="submit"  name="selected" value={{ski._id}}>Add Item</button>
                    </form>
                  </div>

                </div>
              </li>

              {% endfor %}
              </ul>

            </div>
          </div>

          <div class="collapse multi-collapse" id="collapseBoots">
            <div class="card card-body">
                <h2>Snowboard Rentals</h2>

                <ul class="list-group">
                {% for snowboard in snowboards %}
                <li class='list-group-item'>
                  <div class="row">
                    <h3> {{ snowboard._itemName }}</h3>
                    <div class="col col-lg-4">

                        <img src="{{snowboard._itemImageUrl}}" style="width:104px;height:150px;"/>
                    </div>
                    <div class="col col-lg-3">
                      <h4>{{ snowboard._itemName}} </h4>
                    </div>
                    <div class="col col-lg-1">
                      <h4>{{ snowboard._itemCost }}</h4>
                    </div>
                    <div class="col col-lg-2">
                      <form method='POST'>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"  name="selected" value={{snowboard._id}}>Add Item</button>
                      </form>
                    </div>

                  </div>
                </li>

                {% endfor %}
                </ul>


            </div>
          </div>


          <div class="collapse multi-collapse" id="collapseOther">
            <div class="card card-body">
              <h2>Boot Rentals</h2>
              <ul class="list-group">
              {% for boot in boots %}
              <li class='list-group-item'>
                <div class="row">
                  <h3> {{ boot._itemName }}</h3>
                  <div class="col col-lg-3">

                      <img src="{{boot._itemImageUrl}}" style="width:104px;height:150px;"/>
                  </div>
                  <div class="col col-lg-3">

                      <h4>Boot Size</h4>
                      <h5>{{boot.getBootSize()}}</h5>
                  </div>

                  <div class="col col-lg-2">
                    <h4>Cost</h4>
                    <h5>${{ boot._itemCost }}/day</h5>
                  </div>
                  <div class="col col-lg-2">
                    <form method='POST'>
                      <button class="btn btn-lg btn-primary btn-block" type="submit"  name="selected" value={{boot._id}}>Add Item</button>
                    </form>
                  </div>

                </div>
              </li>

              {% endfor %}
              </ul>
            </div>
          </div>




    </div>
    <div class="row" style="padding-top:10px;">
    <div class="col col-sm-2">
      <a class="btn btn-primary" href="{{ url_for('checkout') }}"> Checkout </a>
    </div>
    <div class="col col-sm-2">
      <a class="btn btn-primary" href="{{ url_for('logout') }}"> Log Out </a>
    </div>
  </div>
</div>
{% endblock %}
